@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html {
  height: 100%;
  display: grid;
  place-content: center;
  overflow: auto;
}
@media (max-width: 800px) {
  html {
    height: auto;
  }
}

body {
  margin: 0;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  background-color: #f7f2f7;
  height: auto;
  display: grid;
  place-content: center;
  width: 1440px;
}
@media (max-width: 800px) {
  body {
    width: 375px;
    height: auto;
  }
}

.container {
  width: 1200px;
  height: auto;
  margin: auto;
  background-color: white;
  padding: 5rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right 0% bottom;
  background-repeat: no-repeat, no-repeat;
}
@media (max-width: 800px) {
  .container {
    width: 90vw;
    grid-template-columns: none;
    grid-auto-flow: row;
    padding: 1rem;
    background-image: url("/images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
  }
}

.intro h1 {
  width: 80%;
  color: #502050;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
}
@media (max-width: 800px) {
  .intro h1 {
    width: 100%;
  }
}
.intro p {
  color: #937b92;
  font-weight: 500;
  line-height: 1.5rem;
}
@media (max-width: 800px) {
  .intro {
    text-align: center;
  }
}

.ratings {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}
.ratings .rating {
  position: relative;
  background-color: #f7f2f7;
  border-radius: 10px;
  width: 80%;
  height: 4.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
}
.ratings .rating .five-stars {
  width: 100px;
  height: 16px;
  background-image: url("/images/icon-star.svg");
  background-repeat: space;
  margin-left: 2rem;
  margin-right: 2rem;
}
.ratings .rating span {
  color: #502050;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: left;
  width: 100%;
}
.ratings .rating:nth-child(2) {
  left: 10%;
}
.ratings .rating:nth-child(3) {
  left: 20%;
}
@media (max-width: 800px) {
  .ratings .rating {
    grid-template-columns: none;
    grid-auto-flow: row;
    width: auto;
    padding: 1rem;
  }
  .ratings .rating span {
    text-align: center;
  }
  .ratings .rating:nth-child(2) {
    left: 0;
  }
  .ratings .rating:nth-child(3) {
    left: 0;
  }
}

.reviews {
  grid-area: 2/1/span 1/span 2;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  width: 100%;
}
.reviews .review {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  background-color: #502050;
  border-radius: 10px;
  padding: 2.5rem;
  line-height: 1.5rem;
  height: 70%;
  position: relative;
}
.reviews .review .name {
  display: grid;
}
.reviews .review img {
  border-radius: 50%;
  width: 65%;
}
.reviews .review h2 {
  color: white;
  margin: 0;
  font-size: 1rem;
}
.reviews .review h3 {
  color: #ee68a4;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
.reviews .review p {
  grid-area: 2/1/span 1/span 2;
  color: white;
  font-size: 0.8rem;
  margin: 0;
}
.reviews .review:nth-child(2) {
  top: 5%;
}
.reviews .review:nth-child(3) {
  top: 10%;
}
@media (max-width: 800px) {
  .reviews {
    grid-area: auto;
    grid-auto-flow: row;
    gap: 1rem;
  }
  .reviews .review {
    height: auto;
  }
  .reviews .review:nth-child(2) {
    top: 0;
  }
  .reviews .review:nth-child(3) {
    top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
