@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

$white: hsl(0, 0%, 100%);
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-gray-magenta: hsl(303, 10%, 53%);
$light-gray-magenta: hsl(300, 24%, 96%);

html {
    height: 100%;
    display: grid;
    place-content: center;
    overflow: auto;
    @media (max-width: 800px) {
        height: auto;
    }
}

body {
    margin: 0;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    background-color: $light-gray-magenta;
    height: auto;
    display: grid;
    place-content: center;
    width: 1440px;
    @media (max-width: 800px) {
        width: 375px;
        height: auto;
    }
}

.container {
    width: 1200px;
    height: auto;
    margin: auto;
    background-color: $white;
    padding: 5rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    background-image: url('/images/bg-pattern-top-desktop.svg'), url('/images/bg-pattern-bottom-desktop.svg');
    background-position: left top, right 0% bottom;
    background-repeat: no-repeat, no-repeat;
    @media (max-width: 800px) {
        width: 90vw;
        grid-template-columns: none;
        grid-auto-flow: row;
        padding: 1rem;
        background-image: url('/images/bg-pattern-top-mobile.svg'), url('/images/bg-pattern-bottom-mobile.svg');
    }
}

.intro {
    h1 {
        width: 80%;
        color: $very-dark-magenta;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.5rem;
        @media (max-width: 800px) {
            width: 100%;
        }
    }
    p {
        color: $dark-gray-magenta;
        font-weight: 500;
        line-height: 1.5rem;
    }
    @media (max-width: 800px) {
        text-align: center;
    }
}

.ratings {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    .rating {
        position: relative;
        background-color: $light-gray-magenta;
        border-radius: 10px;
        width: 80%;
        height: 4.5rem;
        display: grid;
        grid-template-columns: auto 1fr;
        place-items: center;
        .five-stars {
            width: 100px;
            height: 16px;
            background-image: url('/images/icon-star.svg');
            background-repeat: space;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        span {
            color: $very-dark-magenta;
            font-weight: 700;
            font-size: .9rem;
            text-align: left;
            width: 100%;
        }
        &:nth-child(2) {
            left: 10%;
        }
        &:nth-child(3) {
            left: 20%;
        }
    }
    @media (max-width: 800px) {
        .rating {
            grid-template-columns: none;
            grid-auto-flow: row;
            width: auto;
            padding: 1rem;
            span {
                text-align: center;
            }
            &:nth-child(2) {
                left: 0;
            }
            &:nth-child(3) {
                left: 0;
            }
        }
    }
}

.reviews {
    grid-area: 2 / 1 / span 1 / span 2;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    width: 100%;
    .review {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        background-color: $very-dark-magenta;
        border-radius: 10px;
        padding: 2.5rem;
        line-height: 1.5rem;
        height: 70%;
        position: relative;
        .name {
            display: grid;
        }
        img {
            border-radius: 50%;
            width: 65%;
        }
        h2 {
            color: $white;
            margin: 0;
            font-size: 1rem;
        }
        h3 {
            color: $soft-pink;
            margin: 0;
            font-size: 1rem;
            font-weight: 500;
        }
        p {
            grid-area: 2 / 1 / span 1 / span 2;
            color: $white;
            font-size: .8rem;
            margin: 0;
        }
        &:nth-child(2) {
            top: 5%;
        }
        &:nth-child(3) {
            top: 10%;
        }
    }
    @media (max-width: 800px) {
        grid-area: auto;
        grid-auto-flow: row;
        gap: 1rem;
        .review {
            height: auto;
            &:nth-child(2) {
                top: 0;
            }
            &:nth-child(3) {
                top: 0;
            }
        }
    }
}